<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>CSV</title>
</head>

<body>
    <form id="uploadCSV">
        <div class="form-group">
            <label class="control-label" for="uploadfile">Choose a File:</label>
            <input type="file" class="form-control" placeholder="Choose a upload file" name="file" required></input>
        </div>
        <button type="submit" class="btn btn-danger" id="btnUploadSingleFileSubmit">Submit</button>
    </form>
    <script>
        $(document).ready(function () {

            $("#uploadCSV").submit(function (evt) {
                evt.preventDefault();

                let formData = new FormData($(this)[0]);

                $.ajax({
                    url: '/api/file/upload',
                    type: 'POST',
                    data: formData,
                    async: false,
                    cache: false,
                    contentType: false,
                    enctype: 'multipart/form-data',
                    processData: false,
                    success: function (response) {
                        $("#response").empty();
                        if (response.status !== "error") {
                            let displayInfo = response.filename + " : " + response.message + "<br>";

                            $("#response").append(displayInfo);
                            // add some css
                            $("#response").css("display", "block");
                            $("#response").css("background-color", "#e6e6ff");
                            $("#response").css("border", "solid 1px black");
                            $("#response").css("border-radius", "3px");
                            $("#response").css("margin", "10px");
                            $("#response").css("padding", "10px");
                        } else {
                            $("#response").css("display", "none");
                            let error = response.error;
                            alert(error);
                        }
                    },
                    error: function (e) {
                        alert("Fail! " + e);
                    }
                });

                return false;
            });
        });
    </script>
</body>

</html>